<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sasp.saspstore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.VideoActivity"></activity>
        <activity android:name=".ui.LargeImageViewActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity
            android:name=".view.menus.FilterProductsActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".CommentsListActivity" />
        <activity android:name=".EachProductActivity" />
        <activity android:name=".AddSaleActivity" />
        <activity android:name=".SalesListActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".AdministratorRequestsActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".UsersListActivity" />
        <activity android:name=".ProductListActivity" />
        <activity android:name=".AddCouponActivity" />
        <activity android:name=".AllCouponsActivity" />
        <activity android:name=".LogActivity" />
        <activity android:name=".ui.home.EditProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>